.root {
     /*-fx-background-color: #1b3f5f;*/
     -fx-background-image: url("crossword.png");
     -fx-font-family: "Roboto";
}
@font-face {
    src: url("RobotoCondensed-Light.ttf");
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-color: #FFF;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-color: linear-gradient(#5773be, #224a9e);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3b6a93;
}

.lblDad {
   -fx-font-size: 16px;
   -fx-text-fill: #233B7A;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
